h1 {
    color: blue;
    text-align: center;
    margin-top: 20px;
}
body {
    color:white;  
    background-color:  black;    
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    text-align: center;
}

.even-centered-block {                        
  width: 60%;           
  margin: 0 auto;       
  text-align: justify;  

}

.image-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto; 
}

.rounded-img {
  width: 500px;
  height: 250px;
  object-fit: cover;  
  border-radius: 20px;
  border: 4px solid #333;
}

.video-container {
  display: flex;
  justify-content: center; 
  align-items: center;     
  min-height: auto;      
  background-color: #000000;
}
.rounded-video {
  width: 500px;              
  height: 250px; 
  object-fit: cover;      
  border-radius: 20px;
  border: 4px solid #333;    
  box-shadow: 0 10px 30px #000000;
}

.container {
  text-align: center; 
}

ul {
  display: inline-block; 
  text-align: left; 
}
ol {
  display: inline-block; 
  text-align: left; 
}
ul {
  display: inline-block; 
  text-align: left; 
}
ol {
  display: inline-block; 
  text-align: left; 
}
.home-btn {
    position: absolute;
    top: 10px;
    left: 10px;
}
.link-list {
    margin-top: 100px;   /* move links down */
}
.center-justify {
    width: 60%;          /* keeps the text in a nice readable column */
    margin: 0 auto;      /* centers the block */
    text-align: justify; /* justifies the text */
}


